.ipynb_checkpoints
.ipynb_checkpoints/*
*.pyc
figures/*
experiments/*
old_experiments/*
old_exp/*
*.png
*.npy
backup/*
channel_world_exps/*
fresh_run_victoria/*
previous_paper_experiments/*
all_mse_dist_stats.txt
all_mse_stats.txt
breaking_exps/*
condensed_experiments/*
temp_final/*
figures_and_experiments/*
*.swp*
*.swo*
*.pyc
car_nav/*
