<launch>
	<rosparam command="load" file="$(find composit_planner)/launch/chem_params.yaml" />
	<rosparam command="load" file="$(find composit_planner)/launch/planner_params.yaml" />
	<node pkg="composit_planner" type="chemical_sensor.py" name="chemical_sensor" output="screen"/>
	<node pkg="composit_planner" type="chemical_world_sim.py" name="chemical_world_sim" output="screen"/>
	<node pkg="composit_planner" type="mcts_planner.py" name="mcts_planner" output="screen"/>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_simulation.launch"/>

	<!--- <node pkg="composit_planner" type="chemical_belief.py" name="chemical_belief" output="screen"/> -->
	<!-- <node pkg="composit_planner" type="planner_spoof.py" name="planner_spoof" output="screen"/> -->
</launch>
