<launch>
    <!-- This launch file is used to launch the car_nav node -->
    <!-- This package initially has only one script called car_nav_script -->
    <!-- Don't judge my naming please -->

    <!-- The planner node -->
    <node pkg="car_nav" type="car_nav_script.py" name="car_nav_script" output="screen"/>

</launch>
